*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: linear-gradient( #2f2f2f, #2a2a2a) fixed;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header{
    padding: 20px 0;
    background: linear-gradient( #2f2f2f, #2a2a2a);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.493);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo__img{
    width: 70px;
}

.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__navigation{
    width: 50%;
    /* background-color: wheat; */
}

.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    width: 370px;
     /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.header__link{
    color: white;
    font-size: 18px;
    transition: all 0.2s;
    padding: 5px;
}

.header__link:hover{
    color: cyan;
    transform: scale(1.2);
}

.header__personal{
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.personal__button{
    background: cyan;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  5px 5px 25px #000000, -5px -5px 25px #ffffff46;
    border: none;
    font-size: 18px;
    transition: .2s;
    outline: none;
    cursor: pointer;
}

.personal__button:hover{
    /* transform: scale(1.2); */
    transform: scale(1.1);
    transition: .2s;
}
.personal__button:active{
    box-shadow: none;
    background: linear-gradient(145deg, #131313, #3d3d3d);
    transform: scale(1);
    transition: 0s;
}

.personal__img{
    height: 25px;
}


/* .neo{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px -100px;
} */

.promo{
    padding-top: 200px;
}

.promo__block{
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.promo__info{
    max-width: 80%;
    margin: auto;
}

.promo__text{
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.button{
    padding: 20px 40px;
    background: #2a2a2a;
    border-radius: 50px;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .2s;
    outline: none;
    cursor: pointer;
}

.button:hover{
    /* transform: scale(1.2); */
    transform: scale(1.1);
    transition: .2s;
}
.button:active{
    box-shadow: none;
    background: linear-gradient(145deg, #131313, #3d3d3d);
    transform: scale(1);
    transition: 0s;
}


.light{
    color: cyan;
}


.nav__block{
    position: fixed;
    top: 210px;
    left: 5px;
    height: 300px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav__block__link{
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 18px;
    transition: all 0.2s;
}

.nav__block__link:hover{
    color: cyan;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
}

.examples{
    margin-top: 100px;
}


.example__block{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border-radius: 25px;
}

.example__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example__images{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example__img{
    width: 300px;
    margin: 20px;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border-radius: 25px;
    transition: all .2s;
}

.example__img:hover{
    transform: scale(1.7);
}


.examples__button{
    margin-top: 70px;
}

.work{
    margin-top: 100px;
}

.work__text{
    color: white;
}



.utility{
    padding-top: 100px;
}

.title{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.utility__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.utility__card{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 45%;
    border-radius: 25px;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
}

.utility__info{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle{
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}

.utility__text{
    margin-bottom: 30px;
    font-size: 18px;
    color: white;
    line-height: 30px;
}


.output{
    margin-top: 100px;
}

.output__block{
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.output__info{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.output__text{
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.output__text:not(:last-child){
    margin-bottom: 20px;
}


.footer{
    margin-top: 100px;
    padding: 20px 0;
    background: linear-gradient( #2f2f2f, #2a2a2a);
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.493);
}

.logo__img{
    width: 70px;
}

.footer__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__nav{
    width: 370px;
     /* background-color: tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link{
    color: white;
    font-size: 18px;
    transition: all 0.2s;
    padding: 5px;
}

.footer__link:hover{
    color: cyan;
    transform: scale(1.2);
}



/* 
.up{
    position: fixed;
    bottom: 15%;
    left: 5%;
    padding: 20px 30px;
    background: #2a2a2a;
    border-radius: 50px;
    box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .2s;
    outline: none;
    cursor: pointer;
}

.up:hover{
    transform: scale(1.1);
    transition: .2s;
}
.up:active{
    box-shadow: none;
    background: linear-gradient(145deg, #131313, #3d3d3d);
    transform: scale(1);
    transition: 0s;
} */


@media (max-width:1260px){
    .container{
        max-width: 1000px;
    }
    .header__navigation{
        width: 60%;
    }
}

@media (max-width:1070px){
    .container{
        max-width: 800px;
    }
    .header__navigation{
        width: 65%;
    }
    .utility__block{
        flex-direction: column;
    }
    .utility__card{
        max-width: 100%;
    }
    .utility__card:not(:first-child){
        margin-top: 50px;
    }
}

@media(max-width:900px){
    .container{
        max-width: 600px;
    }
    .header__navigation{
        width: 80%;
    }
    .header__nav{
        max-width: 340px;
    }
    .example__images{
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:620px){
    .container{
        max-width: 370px;
    }
    .header__navigation{
        width: 50px;
        height: 50px;
        position: relative;
        background: url(../img/Hamburger_icon.png) no-repeat center / cover; 
        background-size: 25px;
        box-shadow:  5px 5px 15px #131313, -5px -5px 15px #ffffff18;
        border-radius: 50%;
    }
    .logo__img{
        width: 60px;
    }
    .header__info{
        display: none;
    }
    .header__navigation:hover > .header__info{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient( #2f2f2f, #2a2a2a) fixed;
        box-shadow:  5px 5px 25px #131313, -5px -5px 25px #ffffff18;
    }
    .header__nav{
        height: 200px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .header__link{
        font-size: 23px;
    }
    .personal__button{
        padding: 30px 30px;
    }
    .header__personal{
        width: 150px;
    }
    .utility__info{
        padding-left: 50px;
        padding-right: 50px;
    }
    .promo__text{
        font-size: 23px;
    }
    .work__text{
        font-size: 23px;
    }
    .utility__text{
        font-size: 23px;
    }
    .output__text{
        font-size: 23px;
    }
    .footer__nav{
        width: 280px;
    }
    .example__img:hover{
        transform: scale(1.2);
    }
}

@media (max-width:512px){
    .container{
        max-width: 320px;
    }
}